.Header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.Header img {
  max-width: 3rem;
}
.Header nav {
  width: 100%;
}
.Header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}